dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
/.idea
/.idea_modules
/.classpath
/.project
/.settings
*.class
*.log

.metals/
.bloop/
.vscode
project/metals.sbt
project/project/metals.sbt
.env*
.fossa.yml
.codacy-coverage/